{{> header}}

<h1>Travel Page</h1>
<h2>Editable List of Stuff</h2>

<a href="/">Back to Whatever Page</a><br><br>

<input type="text" placeholder="Search Travel">
<button>Search</button>

<br><br>
<button>Beaches (5)</button>
<button>Cruises (4)</button>
<button>Mountains (6)</button>

<br><br>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Length</th>
      <th>Start</th>
      <th>Resort</th>
      <th>Per Person</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each trips}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.length}}</td>
      <td>{{this.start}}</td>
      <td>{{this.resort}}</td>
      <td>{{this.price}}</td>
      <td><a href="#">Edit</a> | <a href="#">X</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<br>
<button>Add a Trip</button>

{{> footer}}
